h5{
    color: springgreen;
}

#spine{
    width: 500px;
    height: 50px;
    font-size: 30px;
}
body{
    background: linear-gradient(red 45%, yellow 100%);
}
h4{
    color: rgb(78, 153, 214);
    font-weight: bolder;
}
#camel{
    border-radius: 15%;
    border-width: 5px;
    border-style:dotted;
    height: 300px;
    width: 350px;
}
#firebolt{
    background-color: teal;
    border-radius: 5;
    border-style: dashed;
    border-width: 5px;
    color: rgb(255, 255, 255);
}
#quidditch{
    background-color: rgb(163, 113, 255);
    border-radius: 5;
    border-style: double;
    border-width: 5px;
    color: rgb(255, 255, 255);
}